<%= form_with(model: [current_user, @post.comments.build], local: true, url: user_post_comments_path(current_user, @post), method: :post, class: 'new-comment-form') do |f| %>
  <div class="field">
    <%= f.label :text %>
    <%= f.text_area :text %>
  </div>

  <%= f.submit "Add Comment", class: "btn btn-primary" %>
<% end %>
