<% @users.each do |user| %>
  <%= link_to user_path(user), class: 'user-container', id: "user_#{user.id}" do %>
    <div class="user-photo">
      <%= image_tag(user.photo, alt: 'User Photo', class: 'photo') %>
    </div>
    <div class="user-name">
      <h2><%= user.name %></h2>
    </div>
    <div class="user-posts-count">
      <p class="user-posts-count">Number of posts: <%= user.posts.count %></p>
    </div>
  <% end %>
<% end %>
