<% @users.each do |user| %>
  <%= link_to user_path(user), id: "user_#{user.id}", class: "main-container" do %>
    <div class="user-container">
      <div class="user-photo">
        <%= image_tag(user.photo, alt: 'User Photo', class: 'photo') %>
      </div>
      <div class="user-name">
        <h2><%= user.name %></h2>
      </div>
      <div class="user-posts-count">
        <p class="user-posts-count">Number of posts: <%= user.posts.count %></p>
      </div>
    </div>
  <% end %>
<% end %>
