<div class="user-container">
    <div class="pagination-container"
        <div class="pagination-title">
            <h3 class="user-posts-count">Post <%= @post.id %> by <%= @user.name %></h3>       
        </div>
        <div class="pagination-posts-text">
            <% @post.text %>
        </div>
        <div class="posts-comments">
            <% @user.name %>: Comment <% @post.comments.count %>
        </div>
    </div>
</div>
