.post-container {
  background: #fff;
  margin: 2% 10%;
  height: auto;
  padding: 1% 2%;
  border: solid 2px #000;
  display: flex;
  align-items: center;
}
  
.post {
  display: flex;
  flex-direction: column;
  max-width: 580px;
  margin: 2% auto;
  height: auto;
  padding: 1% 2%;
  border: solid 2px #000;
}

.comments-likes {
  display: flex;
  justify-content: flex-end;
  gap: 2%;
}

div.user-posts-count {
  width: 35%;
  text-align: center;
  color: #000;
}

p.user-posts-count {
  padding-top: 50px;
}

.comments-container {
  max-width: 580px;
  background: #fff;
  margin: -1% auto 3%;
  height: auto;
  padding: 1% 2%;
  border: solid 2px #000;
  display: flex;
  align-items: center;
}

.user-comment {
  padding: 1%;
  background: #fff;
  color: #000;
}

  .pagination-container {

  }

  .post-title {

  }

  .posts-text {

  }

  .posts-comments {

  }